<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-tabs nav-justified">
      <li><h1><%= link_to user_path(@user) do %>タスク一覧<span class="badge"><%= @count_tasks %></span><% end %></h1></li>
    </ul>
    <%= render 'tasks/index', tasks: @tasks %>
  </div>
</div>


